# Mobile App for Lottery Addiction

The purpose of this project is to develop a mobile app that is meant to help lottery addicts better estimate their chances of winning.

## Core Functions

In [2]:
def factorial(n):
    final_mul = 1
    for i in range(n,0,-1):
        final_mul *= i
    return final_mul

def combinations(n,k):
    return factorial(n)/(factorial(n-k)*factorial(k))

## One-ticket Probability

In [8]:
def one_ticket_probability(list_6):
    total_outcomes = combinations(49,6)
    prob = 100/total_outcomes
    print("""The probability of the number combination:{user_list} winning the lottery is {probability:.7f}%.
    In other words, you have a 1 in a {outcomes:,.0f} chance of winning.""".format(user_list=list_6,probability=prob,outcomes=total_outcomes))    

one_ticket_probability([1,2,3,4,5,6])

The probability of the number combination:[1, 2, 3, 4, 5, 6] winning the lottery is 0.0000072%.
    In other words, you have a 1 in a 13,983,816 chance of winning.

## Historical Data Check for Canada Lottery

In [9]:
import pandas as pd

lottery_canada = pd.read_csv('649.csv')
lottery_canada.shape

(3665, 11)

In [10]:
lottery_canada.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [11]:
lottery_canada.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

## Function for Historical Data Check

In [20]:
def extract_numbers(row):
    return set(row[-7:-1])

all_winning_numbers = lottery_canada.apply(extract_numbers,axis=1)
print(type(all_winning_numbers))
print(all_winning_numbers.head(3))

<class 'pandas.core.series.Series'>
0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
dtype: object

In [25]:
def check_historical_occurrence(user_numbers, winning_numbers):
    user_set = set(user_numbers)
    n_occurrences = (user_set == winning_numbers).sum()
    
    if n_occurrences == 0:
        print('''The combination {} has never occured.
This doesn't mean it's more likely to occur now. Your chances to win the big prize in the next drawing using the combination {} are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.'''.format(user_numbers, user_numbers))
        
    else:
        print('''The number of times combination {} has occured in the past is {}.
Your chances to win the big prize in the next drawing using the combination {} are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.'''.format(user_numbers, n_occurrences,
                                                                            user_numbers))
    
test_input_3 = [33, 36, 37, 39, 8, 41]
check_historical_occurrence(test_input_3, all_winning_numbers)

The number of times combination [33, 36, 37, 39, 8, 41] has occured in the past is 1.
Your chances to win the big prize in the next drawing using the combination [33, 36, 37, 39, 8, 41] are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.

## Multi-ticket Probability

In [29]:
def multi_ticket_probability(tickets):
    prob = tickets*100/combinations(49,6)
    print("The chances of winning with {tickets} ticket(s) is {prob:.7f}%".format(tickets=tickets,prob=prob))
    
multi_ticket_probability(1)
multi_ticket_probability(10)
multi_ticket_probability(100)
multi_ticket_probability(1000)
multi_ticket_probability(13983816)

The chances of winning with 1 ticket(s) is 0.0000072%
The chances of winning with 10 ticket(s) is 0.0000715%
The chances of winning with 100 ticket(s) is 0.0007151%
The chances of winning with 1000 ticket(s) is 0.0071511%
The chances of winning with 13983816 ticket(s) is 100.0000000%

## Less Winning Numbers - Function

In [35]:
def probability_less_6(i2_to_5):
    succ_outcomes = combinations(6,i2_to_5)*combinations((49-6),6-i2_to_5)
    total_outcomes = combinations(49,6)
    prob = succ_outcomes*100/total_outcomes
    print("The chance of having {} numbers match the winning combination are {:.7f}%".format(i2_to_5,prob))
    
probability_less_6(2)
probability_less_6(3)
probability_less_6(4)
probability_less_6(5)

The chance of having 2 numbers match the winning combination are 13.2378029%
The chance of having 3 numbers match the winning combination are 1.7650404%
The chance of having 4 numbers match the winning combination are 0.0968620%
The chance of having 5 numbers match the winning combination are 0.0018450%